body {
  background: #dfdfdf url('gambar/logo.png') no-repeat fixed right;
  font-family: sans-serif;
}

/* 
  == Belajar Inline, Block & Inline-Block ==

  inline :
  a. lebar elemen akan selebar konten
  b. elemen akan menumpuk kesamping
  c. tidak bisa mengatur height dan width
  d. tidak bisa mengatur margin top dan bottom

  block :
  a. lebar elemen akan selebar viewport
  b. elemen akan membuat baris baru
  c. bisa mengatur height dan width
  d. bisa mengatur margin top & bottom

  inline-block :
  a. elemen akan menumpuk
  b. lebar elemen akan selebar konten
  c. bisa mengatur height & width
  d. bisa mengatur margin top & bottom
*/

h1 {
  color: blue;
  text-align: center;
  /* untuk menggunakan display inline */
  display: inline;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration:underline;
  display: inline;
}

#text_pendek {
  font-weight:bold;
  font-size: 24px;
  background-color: yellow;
  width: 50%;
  height: 200px;
  max-width: 30%;
  max-height:100px;
}

#text_panjang {
  letter-spacing:5px;
  word-spacing:5px;
  text-align:justify;
  text-indent: 30px;
  line-height: 20px;
}

.menu {
  display: inline-block;
  height: 50px;
  width: 100px;
  text-decoration: none;
}

.menu:link {
  color: white;
  background: grey;
}

.menu:visited {
  color: white;
  background: yellow;
}

.menu:hover {
  background:green;
}

.menu:active {
  background: white;
}

