.container {
  width: 800px;
  border: 2px solid black;
  margin:auto;
  padding: 5px;
}

.kiri {
  width: 150px;
  background-color: violet;
  height: 300px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.tengah {
  width: 500px;
  background-color: salmon;
  height: 300px;
  float: left;
}

.kanan {
  float: right;
  width: 150px;
  height: 300px;
  background-color: seagreen;
}

.clear {
  clear:left;
}

.container::after {
  content:'';
  display:block;
  /* 
    Untuk menghilangkan 
    efek float 
  */
  clear:both;
}